*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    /* border: 2px solid red;   */
  }
  
  #Header{
    background-color: black;
    position: fixed;
    width: 100%;
  }
  .nav_bar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 10rem;
     margin-right: 5rem;
    padding: 0.3rem;
  }
  .nav_bar a {
    color: white;
    text-decoration: none;
    margin-top: 0.4rem; 
  }
  .nav_bar  img{
    max-width: 15px;
    max-height: auto;
  }
 
 
  .search_bar{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
  
  }
  
  .search_bar form{
    position: relative; 
  }
  .search_bar input{
    border: none;
    width: 100%;
    padding:0.4rem;
    border: none;
    background: black;
    color: white;
   
  }
  .search_bar input:focus{
    outline-style: none;
   box-shadow: 0 2px 3px -1px white;
  }
  
  .search_bar button{
    position: absolute;
    border: none;
    padding: 2px;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: black;
  }
  .search_bar .material-symbols-outlined{
    color: white;
  }
  .mac_pro{
    background: white;
    background-image: url("images/home/macbook-pro.jpg");
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    font-size: 1.3rem;
    min-width: 30vh;
    min-height: 30vw;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
  }
  .mac_pro h1{
    font-size: 3rem;
  }
  .mac_pro p{
    font-size: 2rem;
  }
  .f_link{
    display: flex;
    flex-direction: row;
  }
  .f_link a{
    text-decoration: none;
    padding: 0.5rem;
    padding-top: 0;
    color: rgb(28, 190, 190);
  }
  
  .iphone11_pro{
    display: flex;
    flex-direction: column;
  }
  .iphone11_pro .iphone_pro{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 40wh;
    min-height: 30vw;
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 1.3rem;
  }
  .iphone11_pro div:first-child{
    background-image: url("images/home/iphone11-pro-bg.jpg");
    color: white;
    margin-top: 10vw;
  }
  .iphone11_pro div:last-child{
    background-image: url("images/home/iphone11-bg.jpg");
    color: black;
  }
  .tv_airpod, .mac_ipad, .watch_card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: -20vw; 
  }
  .tv, .watch, .card, .ipad, .airpod{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 30vw;
    min-width: 30vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
  }

 
  .watch{
    background-image: url("images/home/watch-series-5.jpg");
 }

 .card{
  background-image: url("images/home/apple-card.jpg");
 }

 .tv{
  background-image: url("images/home/apple-tv-background.jpg");
  display: flex;
 }
 .airpod{
  background-image: url("images/home/air-pods.jpg");
  color: white;
 }
 .ipad{
  background-image: url("images/home/new-ipad.jpg");
}

.watch_card img{
  width: 10em;
  height: auto;
  padding-top: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}

.tv img:first-child{
  width: 5em;
  height: auto;
  padding-top: 1rem;
}
 .tv p img{
  min-width: 25rem;
  margin: 10rem auto 10rem auto;
  padding: 10rem auto 10rem auto;
  border: 2px solid red;
}
.learn{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0.5rem;
}
.learn div{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.learn div a{
  text-decoration: none ;
  padding: 5px;
}
.learn div h3{
  padding-top: 7px;
}
.trade_in p{
  padding: 6px;
}
.last{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.last a{
  text-decoration: none;
}
